# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# VSCode
.vscode/
!.vscode/extensions.json   # תשאיר רק אם תרצה לשתף המלצות על הרחבות

# Compiled files
*.o
*.elf
*.bin
*.hex
*.map

# Debug files
*.dSYM/
*.su

# Backup / temp files
*.swp
*~
